<!-- This example requires Tailwind CSS v2.0+ -->
<div 
  id="modal-wrapper"
  aria-labelledby="modal-title" 
  role="dialog" 
  aria-modal="true"
  data-controller="panel"
  class="hidden relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div 
    id="modal-backdrop" 
    class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    data-transition-enter="ease-out duration-300"
    data-transition-enter-start="opacity-0"
    data-transition-enter-end="opacity-100"
    data-transition-leave="ease-in duration-200"
    data-transition-leave-start="opacity-100"
    data-transition-leave-end="opacity-0"
  >
  </div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex items-end justify-center min-h-0 p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div 
        id="modal-panel" 
        class="hidden relative transform overflow-hidden px-4 pt-5 pb-4 rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:max-w-xl sm:w-full"
        data-transition-enter="ease-out duration-300"
        data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave="ease-in duration-200"
        data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      >
        <div>
          <div class="flex">
            <div class="flex-none cursor-pointer mt-1" data-panel-target="closeButton">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </div>
            <div class="grow">
              <h3 class="pr-7 text-lg font-medium leading-6 text-gray-900 mb-4 text-center" id="modal-title">Create Ptp Synchronization</h3>
            </div>  
          </div>
          
          <div class="relative">
            <div class="mt-4 w-full border-t border-gray-300"></div>
          </div>

          <div class="clear"></div>
          
          <div class="pt-4">
            <p class="text-sm text-gray-500">Are you sure you want to create synchronization? Configuration will be permanently confirmed. This action cannot be undone.</p>
          </div>

          <div data-panel-target="hostnameWrapper" class="relative mt-5 border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-indigo-600 focus-within:border-indigo-600">
            <label for="hostname" class="block text-xs font-medium text-gray-900">Hostname</label>
            <input type="text" data-action="input->panel#findHostname" data-panel-target="input" name="hostname" id="hostname" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="VO000084-CSG01">
            <div data-panel-target="invalidSvg" class="hidden absolute top-4 right-3 flex items-center pointer-events-none">
              <svg class="w-5 h-5 text-red-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" />
              </svg>
            </div>  
          </div>
          <p data-panel-target="errorMessage" class="hidden mt-2 text-sm text-red-600" id="hostname-error"></p>
          <div data-action="hidden->panel#hidePanel" data-panel-target="source" class="mt-2 w-full bg-white border border-gray-300 overflow-y-scroll rounded-md shadow-md">
            <ul class="py-1" data-panel-target="output"></ul>
          </div>
        </div>
        <div class="mt-5 mb-2">
          <button data-action="click->panel#submitConfig" 
                  data-panel-target="submit" 
                  type="button"
                  class="w-full justify-center inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <svg data-panel-target="loadingSvg" class="hidden mr-3 h-5 w-5 animate-spin text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>        
            <span data-panel-target='loadingMessage' class="font-medium"> Create configuration </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>